.navbarContainer{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: blueviolet;
    border-bottom: 0.5px solid black;
}

.menuContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin-bottom: 0.1rem;
}

.menuContainer li{
    list-style: none;
    margin: 10px;
    cursor: pointer;
}
