.container {
  height: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  color: white;
  border-bottom: 0.5px solid gray;
}

.navbarContainer {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  font-size: x-large;
}

.menuContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  margin-bottom: 0.1rem;
}

.menuContainer li {
  list-style: none;
  margin: 20px;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}

.menuContainer li:hover {
  color: rgb(197, 157, 95);
}

.logo {
  margin-left: 2rem;
}